/*
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
=================================================================================================================
Project: News Aggregator
File: core/static/css/styles.css
Author: Mobin Yousefi (GitHub: github.com/mobinyousefi-cs)
Created: 2025-11-02
Updated: 2025-11-02
License: MIT License (see LICENSE file for details)
=
Description:
Light, utility-first additions (we mostly use Tailwind CDN).
===============================================================================================================
*/

img { image-rendering: auto; }